@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="fontawesome/css/all.css" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Alis4Ops2024.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />


    <!-- Additional CSS or other resources -->

    <HeadOutlet />



</head>

<body>
    @* <script src="fontawesome/js/all.js"></script> *@
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- FontAwesome JS -->

</body>

</html>
