@page "/navmenu"


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alis4Ops</a>

    </div>
</div>

<input type="checkbox" title="navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="" aria-hidden="true"></span> Index
            </NavLink>
        </div
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add">
                <span class="" aria-hidden="true"></span> Add
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subtract">
                <span class="" aria-hidden="true"></span> Subtract
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiply">
                <span class="" aria-hidden="true"></span> Multiply
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="divide">
                <span class="" aria-hidden="true"></span> Divide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addsubtract">
                <span class="" aria-hidden="true"></span> Add:Subtract
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiplydivide">
                <span class="" aria-hidden="true"></span> Multiply:Divide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mixedfourops">
                <span class="" aria-hidden="true"></span> Mixed4Ops
            </NavLink>
        </div>
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="numberpatterns">
        <span class="" aria-hidden="true"></span> Number-Patterns
        </NavLink>
        </div> *@
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="Word-problem">
        <span class="" aria-hidden="true"></span> Word-problem
        </NavLink>
        </div> *@

        @*        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Subtract:Word-problem">
        <span class="" aria-hidden="true"></span> Subtract:Word-problem
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Multiply:Word-problem">
        <span class="" aria-hidden="true"></span> Multiply:Word-problem
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Divide:Word-problem">
        <span class="" aria-hidden="true"></span> Divide:Word-problem
        </NavLink>
        </div> *@
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="More-Than">
        <span class="" aria-hidden="true"></span> More-Than
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Less-Than">
        <span class="" aria-hidden="true"></span> Less-Than
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="More-Less-Than">
        <span class="" aria-hidden="true"></span> More-Less-Than
        </NavLink>
        </div> *@
    </nav>
</div>

