@* @page "/navmenu" *@
@using Alis4Ops2024.Web.Pages
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.WebUtilities
@inject RefreshService RefreshService
@inject NavigationManager NavigationHelper
<link href="css/site.css" rel="stylesheet" />
<link href="css/dropbutton.css" rel="stylesheet" />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="">Alis4Ops</a>

    </div>
</div>

<input type="checkbox" title="navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add?LinkTopic=Add">
                <span class="" aria-hidden="true"></span> Add
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subtract">
                <span class="" aria-hidden="true"></span> Subtract
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiply">
                <span class="" aria-hidden="true"></span> Multiply
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="divide">
                <span class="" aria-hidden="true"></span> Divide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addmissing" >
                <span class="" aria-hidden="true"></span> Add-Missing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subtractmissing">
                <span class="" aria-hidden="true"></span> Subtract-Missing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addsubtract">
                <span class="" aria-hidden="true"></span> Add-Subtract
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiplymissing">
                <span class="" aria-hidden="true"></span> Multiply-Missing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dividemissing">
                <span class="" aria-hidden="true"></span> Divide-Missing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiplydivide">
                <span class="" aria-hidden="true"></span> Multiply-Divide
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mixedfourops">
                <span class="" aria-hidden="true"></span> Mixed4Ops
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="countinggame">
                <span class="" aria-hidden="true"></span> Counting Game
            </NavLink>
        </div> *@

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="count">
                <span class="" aria-hidden="true"></span> Colours
            </NavLink>
        </div> *@

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="shapespuzzle">
                <span class="" aria-hidden="true"></span>Shapes Puzzle
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dragdrop">
                <span class="" aria-hidden="true"></span>Match Numbers
            </NavLink>
        </div>

                <div class="nav-item px-3">
        <NavLink class="nav-link" href="match">
        <span class="" aria-hidden="true"></span> Match Numbers
        </NavLink>
        </div>

        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="numberpatterns">
        <span class="" aria-hidden="true"></span> Number-Patterns
        </NavLink>
        </div>
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="Word-problem">
        <span class="" aria-hidden="true"></span> Word-problem
        </NavLink>
        </div> *@

        @*        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Subtract:Word-problem">
        <span class="" aria-hidden="true"></span> Subtract:Word-problem
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Multiply:Word-problem">
        <span class="" aria-hidden="true"></span> Multiply:Word-problem
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Divide:Word-problem">
        <span class="" aria-hidden="true"></span> Divide:Word-problem
        </NavLink>
        </div> *@
        @*         <div class="nav-item px-3">
        <NavLink class="nav-link" href="More-Than">
        <span class="" aria-hidden="true"></span> More-Than
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="Less-Than">
        <span class="" aria-hidden="true"></span> Less-Than
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="More-Less-Than">
        <span class="" aria-hidden="true"></span> More-Less-Than
        </NavLink>
        </div> *@
    </nav>

</div>

@code {

}