@page "/date"
@using System.Timers
@using System

<PageTitle>Date</PageTitle>

<div>
    <!-- Adjust font size if needed -->
    @DateTime.Now.ToString("dd MMM yyyy")
</div>

@code {
    private string currentDateTime = DateTime.Now.ToString("ddd dd MMM yyyy");

    protected override async Task OnInitializedAsync()
    {
        // Update time every second
        while (true)
        {
            currentDateTime = DateTime.Now.ToString("ddd dd MMM yyyy");
            await Task.Delay(1000); // Delay for one second
            await InvokeAsync(() => StateHasChanged()); // Notify Blazor to re-render the UI
        }
    }
}