@page "/your-page"

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="row">
    <div class="col">
        Current Time: @currentDateTime
    </div>
    <div class="col">
        Start Time: @startTime.ToString("hh:mm:ss tt")
    </div>
    <div class="col">
        Session Time: @sessionTime.ToString("hh\\:mm\\:ss")
    </div>
</div>

@code {
    private DateTime startTime = DateTime.Now;
    private TimeSpan sessionTime;

    private string currentDateTime => DateTime.Now.ToString("ddd dd MMM yyyy HH:mm:ss");

    protected override void OnInitialized()
    {
        UpdateSessionTime();
        StartTimerToUpdateSessionTime();
    }

    private void UpdateSessionTime()
    {
        sessionTime = DateTime.Now - startTime;
    }

    private void StartTimerToUpdateSessionTime()
    {
        var timer = new System.Timers.Timer(1000); // Update every 1 second
        timer.Elapsed += (sender, e) =>
        {
            UpdateSessionTime();
            InvokeAsync(StateHasChanged);
        };
        timer.AutoReset = true;
        timer.Start();
    }
}
