@page "/add1"
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Alis4Ops2024.Web.Layout
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager


<PageTitle>Main</PageTitle>

@* <h2>Addition +</h2> *@

@* <div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">0-10</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">0-20</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">0-50</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">Custom</label>
    </div>

    <!-- Show or hide this when the Custom button is clicked above -->
    <div class="btn-group me-2" data-role="rangeslider" role="group">
        <label for="price-min">Lower Range:</label>
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
        <label for="price-min">Upper Range:</label>
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
    </div>
</div>
 *@
@* <div class="container-fluid" style="text-align: center;">
    <TopNavBar @bind-UpperRange=@UpperRange @bind-LowerRange=@LowerRange @bind-Operator=@Operator
                    @bind-SelectedItem=@SelectedItem ParametersChanged="HandleGenerateQuestion" /> *@


@* </div> *@
@* Use MathQuiz as Template for all new model/drawing/etc *@

@*     <Model Question="@Question"></Model>
        <Drawing1 Question="@Question"></Drawing1>
        <Drawing2 Question="@Question"></Drawing2> *@
<p></p>
<p></p>
<div class="container col-10 d-flex justify-content-center align-items-center"> <MathQuiz Question="@Question" AnsweredCorrectly="HandleGenerateQuestion" Answer=@Question.Answer></MathQuiz> </div>


@* <div class="row">
    <div class="sidebar col-2">
        <AddNavMenu />


    </div>
</div> *@


@code {

    [Inject]
    private IQuestionGeneratorService QuestionGenerator { get; set; }
    [Parameter]
    public BaseQuestion Question { get; set; }

    private int _upperRange = 10;
    [Parameter]
    public int UpperRange
    {
        get { return _upperRange; }
        set { _upperRange = value; }
    }

    private int _lowerRange = 0;
    [Parameter]
    public int LowerRange
    {
        get { return _lowerRange; }
        set { _lowerRange = value; }
    }

    private string _operator = "Add";
    [Parameter]
    public string Operator
    {
        get { return _operator; }
        set { _operator = value; }
    }

    private string _selectedItem = "0-5";
    [Parameter]
    public string SelectedItem
    {
        get { return _selectedItem; }
        set { _selectedItem = value; }
    }

    protected override void OnInitialized()
    {
        HandleGenerateQuestion();
    }

    private void HandleGenerateQuestion()
    {
        if (Operator == null)
        {
            return;
        }
        Question = QuestionGenerator.GenerateQuestion(UpperRange, LowerRange, Operator, SelectedItem);
    }

    public void ReloadPage()
    {
        _navigationManager.NavigateTo($"Add", forceLoad: true);

    }
}


