@page "/addsubtract"
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Alis4Ops2024.Web.Layout
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@using System
<link href="css/site.css" rel="stylesheet" />

<PageTitle>Add:Subtract</PageTitle>
@* <DateTimeCounterStopWatch @ref="dateTimeCounterStopWatch" /> *@

<div class="container col-12">

    @if (NUm <= 0 || NUm > 2)
    {
        <div>
            <Add AnsweredCorrectly="GenerateNewQuestion" SelectedItem="Add-Missing" LowerRange ="1" UpperRange ="20" />
        </div>
    }
    else
    {
        <div>
            <Subtract AnsweredCorrectly="GenerateNewQuestion" SelectedItem="Subtract-Missing" LowerRange="1" UpperRange="20" />
        </div>
    }

</div>

@code {

    private Random random = new Random();

    private int NUm { get; set; } = 0;

    private DateTimeCounterStopWatch dateTimeCounterStopWatch; // Reference to child component

    [Parameter]
    public EventCallback AnsweredCorrectly { get; set; }

    protected override void OnInitialized()
    {
        GenerateNewQuestion();
    }

    private async void HandleAnsweredCorrectly()
    {
        GenerateNewQuestion();
        await AnsweredCorrectly.InvokeAsync();
        dateTimeCounterStopWatch.ResetAndStartStopwatch();
        await dateTimeCounterStopWatch.IncrementCounter();
    }

    private void GenerateNewQuestion()
    {
        NUm = random.Next(0, 2);
    }

}






