@using System.Timers
@using System
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<PageTitle>DateTimeCounterStopWatch</PageTitle>

<div class="container" style="color: gray; margin-top: 10px; font-size: 40%">
    <div class="row gx-0 align-items-center">
        <div class="col">
            <div class="text-center">
                Start: @startTimeStatic.ToString("hh:mm:ss tt")
            </div>
        </div>

        <div class="col">
            <div class="text-center">
                Session: @FormatSessionTime(DateTime.Now - startTimeStatic)
            </div>
        </div>

        <div class="col">
            <div class="text-center">
                Elapsed: @stopwatchTime
            </div>
        </div>

        <div class="col">
            <div class="text-center">
                Marks: @(counterValue - errorValue)/@counterValue.ToString("D1")
            </div>
        </div>

        <div class="col">
            <div class="text-center">
                @if (counterValue <= 0)
                {
                    <div>Score: </div>
                }
                else
                {
                    <div>Score: @(100 * (counterValue - errorValue) / counterValue)%</div>
                }
            </div>
        </div>

@*         <div class="col">
            <div class="text-center">
                <button class="btn btn-primary btn-sm" @onclick="ResetAll">Reset</button>
            </div>
        </div> *@
    </div>
</div>









@code {

    [Parameter]
    public DateTime startTimeStatic { get; set; } = DateTime.Now; // Assuming startTimeStatic is set elsewhere

    private string FormatSessionTime(TimeSpan sessionTime)
    {
        return $"{sessionTime.Hours:D2}:{sessionTime.Minutes:D2}:{sessionTime.Seconds:D2}";
    }

    private bool isRunning = false;
    private Timer timer;
    private Timer sessionTimer; // Timer for session time
    private DateTime startTime;
    // private DateTime startTimeStatic = DateTime.Now; // Static start time
    private TimeSpan elapsedTime;
    // private TimeSpan sessionTime; // Total session time
    private int rightSums;      // no. of correct sums
    private int inputValue;
    private bool WrongAnswerFlag = false;

    protected override async Task OnInitializedAsync()
    {
        counterValue = await GetCounterAsync();
        errorValue = await GetScoreAsync();
        startTimeStatic = await GetStartTimeStaticAsync();
    }

    private async Task<int> GetCounterAsync()
    {
        var storedCounterValue = await sessionStorage.GetItemAsync<string>("counterValue");
        return string.IsNullOrEmpty(storedCounterValue) ? 0 : int.Parse(storedCounterValue);
    }

    private async Task<int> GetScoreAsync()
    {
        var storedErrorValue = await sessionStorage.GetItemAsync<string>("errorValue");
        return string.IsNullOrEmpty(storedErrorValue) ? 0 : int.Parse(storedErrorValue);
    }

    private async Task<DateTime> GetStartTimeStaticAsync()
    {
        var storedStartTimeStatic = await sessionStorage.GetItemAsync<string>("startTimeStatic");
        if (DateTime.TryParse(storedStartTimeStatic, out DateTime result))
        {
            return result;
        }
        await SaveStartTimeStaticAsync(DateTime.Now);
        return DateTime.Now; // Default value if parsing fails or stored value is empty
    }

    private async Task SaveStartTimeStaticAsync(DateTime value)
    {
        await sessionStorage.SetItemAsync("startTimeStatic", value.ToString());
    }

    private async Task<TimeSpan> GetSessionTimeAsync()
    {
        var storedSessionTime = await sessionStorage.GetItemAsync<string>("sessionTime");
        if (TimeSpan.TryParse(storedSessionTime, out TimeSpan result))
        {
            return result;
        }
        long ticks = TimeSpan.Zero.Ticks;
        await SaveSessionTimeAsync(ticks);
        return TimeSpan.FromTicks(ticks); // Default value if parsing fails or stored value is empty
    }

    private async Task SaveSessionTimeAsync(long value)
    {
        await sessionStorage.SetItemAsync("sessionTime", value.ToString());
    }

    public async Task IncrementCounter()
    {
        if (WrongAnswerFlag == true)
        {
            WrongAnswerFlag = false;
        }
        else
        {
            counterValue++;
            await sessionStorage.SetItemAsync("counterValue", counterValue.ToString());
            await InvokeAsync(() => StateHasChanged());
        }
    }

    public async Task IncrementErrorCount()
    {
        if (WrongAnswerFlag == false)
        {

            errorValue++;
            counterValue++;
            await sessionStorage.SetItemAsync("counterValue", counterValue.ToString());
            await sessionStorage.SetItemAsync("errorValue", errorValue.ToString());
            WrongAnswerFlag = true;
            // await InvokeAsync(() => StateHasChanged());
        }
    }


    // Counter value received from parent component
    [Parameter] public int counterValue { get; set; }
    [Parameter] public int errorValue { get; set; }
    [Parameter] public TimeSpan sessionTime { get; set; }

    // Event callback to notify parent about counter value change
    [Parameter] public EventCallback<int> counterValueChanged { get; set; }

    private string currentDateTime => DateTime.Now.ToString("ddd dd MMM yyyy");
    private string stopwatchTime => $"{elapsedTime.Hours:D2}:{elapsedTime.Minutes:D2}:{elapsedTime.Seconds:D2}.{elapsedTime.Milliseconds / 100}";

    protected override void OnInitialized()
    {
        // Start the stopwatch initially
        ToggleTimer();
        // Start a timer to update currentDateTime every second
        var updateTimer = new Timer(1000); // Update every 1000 milliseconds (1 second)
        updateTimer.Elapsed += UpdateTimerElapsed;
        updateTimer.AutoReset = true;
        updateTimer.Start();

        // Start session timer
        sessionTimer = new Timer(1000); // Update every 1000 milliseconds (1 second)
        sessionTimer.Elapsed += SessionTimerElapsed;
        // sessionTimer.AutoReset = true;
        sessionTimer.Start();
    }

    private void UpdateTimerElapsed(object sender, ElapsedEventArgs e)
    {
        // Update currentDateTime every second
        InvokeAsync(() => StateHasChanged());
    }

    private void TimerElapsed(object sender, ElapsedEventArgs e)
    {
        if (isRunning)
        {
            elapsedTime = DateTime.Now - startTime;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void SessionTimerElapsed(object sender, ElapsedEventArgs e)
    {
        sessionTime = DateTime.Now - startTimeStatic;
        InvokeAsync(() => StateHasChanged());
    }

    private void ToggleTimer()
    {
        if (!isRunning)
        {
            isRunning = true;
            startTime = DateTime.Now - elapsedTime;
            timer = new Timer(100); // Update every 100 milliseconds
            timer.Elapsed += TimerElapsed;
            timer.Start();
        }
        else
        {
            isRunning = false;
            timer.Stop();
        }
    }

    // Method to reset and start the stopwatch
    public async Task ResetAndStartStopwatch()
    {
        isRunning = false;
        elapsedTime = TimeSpan.Zero;
        startTime = DateTime.Now;
        ToggleTimer();
    }


    public async Task ResetAll()
    {
        isRunning = false;
        elapsedTime = TimeSpan.Zero;
        startTime = DateTime.Now;
        ToggleTimer();
        startTimeStatic = DateTime.Now;
        sessionTime = DateTime.Now - startTimeStatic;
        errorValue = 0;
        counterValue = 0;
        WrongAnswerFlag = false;
        await sessionStorage.SetItemAsync("counterValue", counterValue.ToString());
        await sessionStorage.SetItemAsync("errorValue", errorValue.ToString());
        await InvokeAsync(() => StateHasChanged());
    }


    // Handle Enter key press from parent to reset and start stopwatch
    [JSInvokable]
    public async Task HandleEnterKeyPress()
    {
        ResetAndStartStopwatch();
        await InvokeAsync(() => StateHasChanged());
    }

    // Whenever counterValue changes from parent, update local state
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await InvokeAsync(() => StateHasChanged());
    }


}