@page "/divide"
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Alis4Ops2024.Web.Layout
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
<link href="css/rangemenu.css" rel="stylesheet" />

<PageTitle>Divide</PageTitle>

<div><h3>Select Range</h3></div>

<div>
    <DivideRangeMenu @bind-UpperRange=@UpperRange @bind-LowerRange=@LowerRange @bind-Operator=@Operator
                       @bind-SelectedItem=@SelectedItem ParametersChanged="HandleGenerateQuestion" />
</div>

<p></p>
<p></p>
<div class="container col-10" style="align-content:flex-start;"> <MathQuiz Question="@Question" AnsweredCorrectly="HandleGenerateQuestion" Answer=@Question.Answer></MathQuiz> </div>


@code {

    [Inject]
    private IQuestionGeneratorService QuestionGenerator { get; set; }
    [Parameter]
    public BaseQuestion Question { get; set; }

    private int _upperRange = 12;
    [Parameter]
    public int UpperRange
    {
        get { return _upperRange; }
        set { _upperRange = value; }
    }

    private int _lowerRange = 1;
    [Parameter]
    public int LowerRange
    {
        get { return _lowerRange; }
        set { _lowerRange = value; }
    }

    private string _operator = "Divide";
    [Parameter]
    public string Operator
    {
        get { return _operator; }
        set { _operator = value; }
    }

    private string _selectedItem = "1";
    [Parameter]
    public string SelectedItem
    {
        get { return _selectedItem; }
        set { _selectedItem = value; }
    }

    protected override void OnInitialized()
    {
        HandleGenerateQuestion();
    }

    private void HandleGenerateQuestion()
    {
        if (Operator == null)
        {
            return;
        }
        Question = QuestionGenerator.GenerateQuestion(UpperRange, LowerRange, Operator, SelectedItem);
    }

    public void ReloadPage()
    {
        _navigationManager.NavigateTo($"Multiply", forceLoad: true);

    }
}
