@page "/fullscreen"
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@inject NavigationManager _navigationManager
@using System
<link href="css/site.css" rel="stylesheet" />
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

<h3>Fullscreen Example</h3>

<div class="container">
    <h2>Fullscreen Example</h2>
    <input class="input-box"
           id="userInput"
           placeholder="Enter something"
           autofocus
           @ref="userInputElement" />
    <br>
    <button class="fullscreen-button" @onclick="ToggleFullscreen">Toggle Fullscreen</button>
</div>

@code {
    private bool IsFullscreen { get; set; }

    private ElementReference userInputElement;

    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    private async Task ToggleFullscreen()
    {
        if (!IsFullscreen)
        {
            await EnterFullscreen();
            IsFullscreen = true;
        }
        else
        {
            await ExitFullscreen();
            IsFullscreen = false;
        }
    }

    private async Task EnterFullscreen()
    {
        await JSRuntime.InvokeVoidAsync("blazorFunctions.enterFullscreen", userInputElement);
    }

    private async Task ExitFullscreen()
    {
        await JSRuntime.InvokeVoidAsync("blazorFunctions.exitFullscreen");
    }
}
