@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Alis4Ops2024.Web.Layout
@using Alis4Ops2024.Web.Pages
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.Components

@page "/"

@* <h1>Main</h1> *@
<h2>Select Operation</h2>
<ul>
    <li><a href="/home/Add">Addition</a></li>
    <li><a href="/home/Subtract">Subtraction</a></li>
    <li><a href="/home/Multiply">Multiplication</a></li>
    <li><a href="/home/Divide">Division</a></li>
    <li><a href="/home/AddSubtract">Mixed Addition and Subtraction</a></li>
    <li><a href="/home/MultiplyDivide">Mixed Multiplication and Division</a></li>
    <li><a href="/home/MixedFourOps">Mixed Four Operationss</a></li>

</ul>