@* @page "/" *@
@* @page "/matchtest1" *@
<h3>MatchTest1</h3>
<div class="parent-container" ondragover="allowDrop(event)" ondrop="drop(event)">
    <img src="icon1.png" class="icon" draggable="false">
    <img src="icon2.png" class="icon" draggable="false">
    </div>
<div class="digit" draggable="true" ondragstart="drag(event)">1</div>



@code {

}
