@page "/multiplydivide"
@using Alis4Ops2024.Web.Core
@using Alis4Ops2024.Web.Models
@using Alis4Ops2024.Web.Layout
@using Alis4Ops2024.Web.Pages
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.WebUtilities
@inject RefreshService RefreshService
@inject NavigationManager NavigationHelper
<link href="css/site.css" rel="stylesheet" />
<link href="css/dropbutton.css" rel="stylesheet" />


<PageTitle>MultiplyDivide</PageTitle>
@* <DateTimeCounterStopWatch @ref="dateTimeCounterStopWatch" /> *@

<div class="container col-12">
    <div class="row gx-0 align-items-center" style="font-size: 60%;">
        <div class="col-auto">
            <MultiplyDivideRangeMenu @bind-UpperRange=@UpperRange @bind-LowerRange=@LowerRange @bind-Operator=@Operator
                                     @bind-SelectedItem=@SelectedItem @bind-Topic=@Topic ParametersChanged="GenerateNewQuestion" />
        </div>

        @*         <div class="col-auto">
        <div class="d-flex align-items-center" style="margin-left: 15px; color:gray">
        <Date />
        </div>
        </div> *@
        <div class="col-auto ms-auto">
            <!-- Right aligned content -->
            <SubmitButton SubmitAnswer="HandleSubmitAnswerAsync" @ref="submitButton" />
        </div>
    </div>

    <div>
        <DateTimeCounterStopWatch @ref="dateTimeCounterStopWatch" />
    </div>



    @if (Operator == "Multiply")
    {
        <div>
            <MathQuiz Question="@Question" AnsweredCorrectly="HandleAnsweredCorrectly" AnsweredWrongly="HandleAnsweredWrongly" Answer=@Question.Answer @ref="mathQuiz" />
        </div>
        <div>
            <MultiplyModel Question="@Question" />
        </div>
    }
    else
    {
        <div>
            <DivideMathQuiz Question="@Question" AnsweredCorrectly="HandleAnsweredCorrectly" AnsweredWrongly="HandleAnsweredWrongly" Answer=@Question.Answer @ref="divideMathQuiz" />
        </div>
        <div>
            <DivideModel Question="@Question" />
        </div>
    }
</div>


@code {

    private Random random = new Random();
    [Inject] private IMultiplyQuestionGeneratorService MultiplyQuestionGenerator { get; set; }
    [Inject] private IDivideQuestionGeneratorService DivideQuestionGenerator { get; set; }
    [Parameter] public BaseQuestion Question { get; set; }
    [Parameter] public EventCallback AnsweredCorrectly { get; set; }
    [Parameter] public EventCallback AnsweredWrongly { get; set; }
    private DateTimeCounterStopWatch dateTimeCounterStopWatch; // Reference to child component
    private MathQuiz mathQuiz; // Reference to child component
    private DivideMathQuiz divideMathQuiz; // Reference to child component
    private SubmitButton submitButton;
    [Parameter] public EventCallback SubmitAnswer { get; set; }

    [Parameter] public string topicSelected { get; set; }
    [Parameter] public string Topic { get; set; }
    [Parameter] public int UpperRange { get; set; }
    [Parameter] public int LowerRange { get; set; }
    [Parameter] public string Operator { get; set; }
    [Parameter] public string SelectedItem { get; set; }
    private int Num { get; set; } = 0;

    protected override void OnInitialized()
    {
        var uri = NavigationHelper.ToAbsoluteUri
    (NavigationHelper.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).
    TryGetValue("Topic", out var navTopic))
            // RefreshService.RefreshRequested += RefreshPage;
            Topic = "MultiplyDivide";

        if (dateTimeCounterStopWatch is null)
        {
            dateTimeCounterStopWatch = new DateTimeCounterStopWatch();
            submitButton = new SubmitButton();
            mathQuiz = new MathQuiz();
            divideMathQuiz = new DivideMathQuiz();
        }
        Topic = "MultiplyDivide";
        UpperRange = 12;
        LowerRange = 1;
        SelectedItem = "1";

        Num = random.Next(2);
        if (Num == 0)
        {
            mathQuiz = new MathQuiz();
            Operator = "Multiply";
        }
        else
        {
            divideMathQuiz = new DivideMathQuiz();
            Operator = "Divide";
        }

        GenerateNewQuestion();
        // StateHasChanged();
    }

    async Task HandleSubmitAnswerAsync()
    {
        @if (Operator == "Multiply")
        {
            await mathQuiz.inputElement.FocusAsync();

            // Assuming HandleKeydown method doesn't return a Task and doesn't need await
            mathQuiz.HandleKeydown(new KeyboardEventArgs { Key = "Enter" });
        }
        else
        {
            await divideMathQuiz.inputElement.FocusAsync();

            // Assuming HandleKeydown method doesn't return a Task and doesn't need await
            divideMathQuiz.HandleKeydown(new KeyboardEventArgs { Key = "Enter" });
        }
    }

    private async Task HandleAnsweredCorrectly()
    {
        Topic = "MultiplyDivide";
        if (dateTimeCounterStopWatch != null)
        {
            await dateTimeCounterStopWatch.ResetAndStartStopwatch();
            await dateTimeCounterStopWatch.IncrementCounter();
            await AnsweredCorrectly.InvokeAsync();
            int Num1 = random.Next(2);
            if (Num1 == 0)
            {
                Operator = "Multiply";
            }
            else
            {
                Operator = "Divide";
            }

            GenerateNewQuestion();
            await InvokeAsync(() => StateHasChanged());
        }

    }

    private async Task HandleAnsweredWrongly()
    {

        if (dateTimeCounterStopWatch != null)
        {
            await dateTimeCounterStopWatch.IncrementErrorCount();
            // await AnsweredWrongly.InvokeAsync();
        }
    }

    private void GenerateNewQuestion()
    {
        switch (Operator)
        {
            case "Multiply":
                Question = MultiplyQuestionGenerator.GenerateQuestion(UpperRange, LowerRange, Operator, SelectedItem, Topic);
                break;
            case "Divide":
                Question = DivideQuestionGenerator.GenerateQuestion(UpperRange, LowerRange, Operator, SelectedItem, Topic);
                break;
            // Handle additional cases as needed
            default:
                break;
        }
    }
}





