<!-- SubmitButton.razor -->
@using System
@* <button type="button" class="btn btn-primary btn-sm" @onclick="HandleClick">Submit</button> *@
@* <div style="display: flex; justify-content: center;">
    <!-- Inline style with margin-top --> *@
    <button type="button" class="btn btn-primary " @onclick="HandleClick">Submit</button>
@* </div> *@
@code {
    [Parameter]
    public EventCallback SubmitAnswer { get; set; }
    private async Task HandleClick()
    {
        // Simulate pressing "Enter" key
        await SubmitAnswer.InvokeAsync();
       // await InvokeAsync(() => StateHasChanged());
    }
}

