/* /css/dragdrop.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    color: #111;
}

.draggable-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.draggable {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
    text-align: center;
    margin-top: 0.5rem
}

    .draggable:hover {
        opacity: 0.4;
    }

.droppable-elements {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if necessary */
    justify-content: flex-start; /* Aligns items to the start of the container */
    gap: 0.5rem; /* Adjust this value for desired spacing between items */
}

.droppable {
    height: 11rem;
    width: 10rem;
    display: d-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    font-size: 3.25rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 0.2rem;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

    .droppable span {
        font-size: 3.25rem;
        pointer-events: none; /* The element is never the target of pointer events */
    }

    /* Drag and Drop Related Styling */

    .droppable.droppable-hover, .dots-container-hover {
        /* background-color: #bee3f0; */
        /*border-width: 5px;*/
        border: 5px solid #111;
        border-color: dodgerblue;
        transform: scale(1.2);
    }

    .droppable.dropped {
        border-style: solid;
        color: #fff;
    }

        .droppable.dropped span {
            font-size: 3.25rem;
            margin-top: 0.5rem;
        }

        .droppable.dropped i {
            pointer-events: none;
        }

.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}

    .draggable.dragged:hover {
        opacity: 0.1;
    }

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .draggable-elements {
        margin: 1.5rem;
    }
}

/* Container for dots inside droppable areas */
/*.dots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}*/

/* Style for individual dots */
.dot {
    width: 21px;
    height: 21px;
    background-color: black;
    border-radius: 50%;
    margin: 2px;
    display: flex;
}


#play-again-container {
    text-align: center;
    margin-top: 20px;
}

#play-again-btn {
    padding: 10px 20px;
    font-size: 3.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #play-again-btn:hover {
        background-color: #0056b3;
    }
