@page "/counting"
@using Alis4Ops2024.Core
@using Alis4Ops2024.Models
@using Alis4Ops2024.Components.Layout
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject NavigationManager _navigationManager
<link href="/fontawesome/css/site.css" rel="stylesheet" />



<PageTitle>Counting</PageTitle>
<h3>Counting</h3>




@code {

}
