@page "/subtract"
@using Alis4Ops2024.Core
@using Alis4Ops2024.Models
@using Alis4Ops2024.Components.Layout
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject NavigationManager _navigationManager

<link href="/fontawesome/css/site.css" rel="stylesheet" />

<PageTitle>Subtract</PageTitle>

<div>
    <SubtractRangeMenu @bind-UpperRange=@UpperRange @bind-LowerRange=@LowerRange @bind-Operator=@Operator
                  @bind-SelectedItem=@SelectedItem ParametersChanged="HandleGenerateQuestion" />
</div>

<p></p>
<p></p>
<div class="container col-10" style="align-content:flex-start;"> <MathQuiz Question="@Question" AnsweredCorrectly="HandleGenerateQuestion" Answer=@Question.Answer></MathQuiz> </div>


@code {

    [Inject]
    private IQuestionGeneratorService QuestionGenerator { get; set; }
    [Parameter]
    public BaseQuestion Question { get; set; }

    private int _upperRange = 5;
    [Parameter]
    public int UpperRange
    {
        get { return _upperRange; }
        set { _upperRange = value; }
    }

    private int _lowerRange = 0;
    [Parameter]
    public int LowerRange
    {
        get { return _lowerRange; }
        set { _lowerRange = value; }
    }

    private string _operator = "Subtract";
    [Parameter]
    public string Operator
    {
        get { return _operator; }
        set { _operator = value; }
    }

    private string _selectedItem = "0-5";
    [Parameter]
    public string SelectedItem
    {
        get { return _selectedItem; }
        set { _selectedItem = value; }
    }

    protected override void OnInitialized()
    {
        HandleGenerateQuestion();
    }

    private void HandleGenerateQuestion()
    {
        if (Operator == null)
        {
            return;
        }
        Question = QuestionGenerator.GenerateQuestion(UpperRange, LowerRange, Operator, SelectedItem);
    }

    public void ReloadPage()
    {
        _navigationManager.NavigateTo($"Subtract", forceLoad: true);

    }
}
